<div class ="hero-image">

  
        <form (ngSubmit)="Login();">
                   
            <div class="container">
              <label for="uname"><b>Username</b></label>
              <input type="text" name="username" placeholder="Write your UserName"  required [(ngModel)]="username" >
          
              <label for="psw"><b>Password</b></label>
              <input type="text" name="Password" placeholder="Write Your password"  required [(ngModel)]="password" >
          
              <button type="submit">Login</button>
              <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
              </label>
            </div>
          
            
          </form> 
           