<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <form (ngSubmit) ="Multiply();">
      <div>
        
        <input type="number" id ="numero" name="numero" placeholder="Number1" required [(ngModel)]="numero1">
        <input type="number" id ="numero" name="numero" placeholder="Number2" required [(ngModel)]="numero2">      
      </div>
      <button>Multiply</button>

     
  </form>

 <h2>The result is :{{ resultadoMulti }}</h2>
</div>

