
  <table  width="400">
    <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Password</th>
          <th scope="col">Puntos</th>
        
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{alumno.nombre}}</th>
          <td>{{alumno.password}}</td>
          <td>{{alumno.puntos}}</td>
          

      </tr></tbody>
</table>

<form (ngSubmit)="Cambia();">
  <label>Nueva Contraseña:</label>
  <input type="text" name ="pass" placeholder="Write your new password" required [(ngModel)]="nuevoPass">
  <button>Cambiar</button>
</form>

<button (click)="goBack()">Go Back</button>
