


<div class ="hero-image">

  

    
  
<div class="container">
  
   
    <div class="example-button-row">
        <button  mat-raised-button color="primary" (click)="Mostrar()">Monstrar las lista de persona</button>
    <button  mat-raised-button color="primary" (click)="OrdenarPuntos()">Ordenar Segun Puntos</button>
    <button mat-raised-button color="primary" (click)="OrdenarAlfabeticamente()">Ordenar Segun Ordenar Alfabeticamente</button>
    <button mat-raised-button color="warn" (click)="ClearPuntos()">Clear Puntos</button>
      </div>


    <div>
    <h2 class ="text-success">Lista de Students</h2>

    <table  width="400">
        <thead>
            <tr>
              <th scope="col">username</th>
              <!--th scope="col">Puntos</th-->
              <th scope="col">Add Puntos</th>
              <th scope="col">Delete users</th>
            </tr>
          </thead>

          
      <tbody>
          <tr class ="info" *ngFor = "let persona of lista">
              <td><span matBadge={{persona.puntos}} matBadgeOverlap="false">{{persona.username}} </span></td>
              
             
              <td><button class="btn btn-success btn-sm" (click)="Incrementar(persona)"><span class="glyphicon glyphicon-plus"></span></button></td>
              <td><button class="btn btn-danger btn-sm" (click)="Eliminar(persona.username)"><i class="material-icons red">delete</i></button></td>
              <td><button class="btn btn-success btn-sm" (click)="StudentDetails(persona.username)"><span class="glyphicon glyphicon"></span></button></td>
            </tr>
      </tbody>
    </table>
    </div>
    <!--ul *ngFor = "let persona of lista">
      <li >
        username: {{persona.username}} - Puntos:{{persona.puntos}} - Rol:{{persona.rol}}
        <button class="btn btn-success btn-sm" (click)="Incrementar(persona.username)"><span class="glyphicon glyphicon-plus"></span></button>
        
        <button class="btn btn-danger btn-sm" (click)="Eliminar(persona.username)">Eliminar</button>
      </li>  
    </ul--> 
   
    </div>
    

    <div class="container" >
           
    <h3 class ="text-success">Add New Users</h3>
    <form class="form-inline" (ngSubmit) ="PonPersona();">
        <input type="text" class ="form-control mb-2 mr-sm-2" name ="username"  placeholder="Write a name" required [(ngModel)]="username">
       
        <input type="text" class ="form-control mb-2 mr-sm-2" name ="password"  placeholder="Write Password" required [(ngModel)]="password">
        <select  class ="form-control mb-2 mr-sm-2" name ="rols" required [(ngModel)]="rol">
            <option value="Student">Alumno</option>
            <option value="Profesor">Profesor</option>
        </select> 
        <input type="number" class ="form-control mb-2 mr-sm-2" name ="punto"  placeholder="Puntos Iniciales" value="8" required [(ngModel)]="puntos" >
        <button class="btn btn-primary" class ="form-control mb-2 mr-sm-2" >Crear nuevo alumno</button>
           </form>
    </div>
    <button (click)="Goback()" >Go Back</button>
  
</div>

